{% extends 'app/main/base.html' %}
{% load static %}
{% block content_bar %}
    <!-- Start Breadcrumbbar -->
    <div class="breadcrumbbar">
        <div class="row align-items-center">
            <div class="col-md-8 col-lg-8">
                <h4 class="page-title">Buyumlar</h4>
                <div class="breadcrumb-list">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Buyumlar</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="widgetbar">
                    <button class="btn btn-primary-rgba"><i class="feather icon-plus mr-2"></i>Actions</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbbar -->
    <!-- Start Contentbar -->
    <div class="contentbar">
        <!-- Start row -->
        <div class="row">
            <!-- Start col -->
            <div class="col-lg-8 col-xl-9">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Topilmalar</h5>
                    </div>
                    <div class="card-body">
                        <!-- Start row -->
                        <div class="row align-items-center ecommerce-sortby">
                            <!-- Start col -->
                            <div class="col-md-12 col-lg-12 col-xl-4">
                                <form action="{% url 'index' %}" method="GET">
                                    <select class="form-control" id="productSortBy" name="query">
{#                                        {% for item in items %}#}
                                            <option value="FOUND">FOUND</option>
                                            <option value="LOST">LOST</option>
{#                                        {% endfor %}#}
                                    </select>
                                    <button type="submit">submit</button>
                                </form>
                            </div>
                            <!-- End col -->
                            <!-- Start col -->
                            <div class="col-md-12 col-lg-12 col-xl-8">
                                <div class="button-list">
                                    <button type="button" class="btn btn-round btn-primary-rgba"><i
                                            class="feather icon-grid"></i></button>
                                    <button type="button" class="btn btn-round btn-secondary-rgba"><i
                                            class="feather icon-list"></i></button>
                                </div>
                            </div>
                            <!-- End col -->
                        </div>
                        <!-- End row -->
                        <!-- Start row -->
                        <div class="row">
                            <!-- Start col -->
                            {% for item in items %}
                                <div class="col-lg-6 col-xl-4">
                                    <div class="product-bar m-b-30">
                                        <div class="product-head">
                                            <a href="{% url 'item' item.id %}"><img
                                                    src={{ item.image.url }} class="img-fluid"
                                                    alt="product"></a>
                                        </div>
                                        <div class="product-body py-3">
                                            <div class="row align-items-center">
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <h6 class="mt-1 mb-3">{{ item.title }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <!-- End col -->
                        </div>
                        <!-- Start row -->
                    </div>
                </div>
                <div class="card m-b-30">
                    <div class="card-body ecommerce-pagination">
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-xl-6">
                                <p>Showing 1 to 2 of 12 entries</p>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <nav aria-label="Page navigation example">
{#                                    <ul class="pagination mb-0">#}
{#                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>#}
{#                                        <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                                        <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
{#                                    </ul>#}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
    <!-- End Contentbar -->
{% endblock %}






































