{% extends 'app/main/base.html' %}
{% load static %}
{% block content_bar %}
    <!-- Start Breadcrumbbar -->
    <div class="breadcrumbbar">
        <div class="row align-items-center">
            <div class="col-md-8 col-lg-8">
                <h4 class="page-title">File Uploads</h4>
                <div class="breadcrumb-list">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Forms</a></li>
                        <li class="breadcrumb-item active" aria-current="page">File Uploads</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="widgetbar">
                    <button class="btn btn-primary-rgba"><i class="feather icon-plus mr-2"></i>Actions</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbbar -->
    <!-- Start Contentbar -->
    <div class="contentbar">
        <!-- Start row -->
        <form action="{% url 'post' %}" method="post">
            <div class="row">
            <!-- Start col -->
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Aloqador rasmlarni yuklang</h5>
                    </div>
                    <div class="card-body">
                        <div  class="dropzone">
                            <div class="fallback">
                                <input name="image" type="file" multiple="multiple">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
            <!-- End col -->
            <div class="col-lg-6">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">E'lon turini tanlang</h5>
                    </div>
                    <div class="card-body">
                        <select class="select2-single form-control" name="type">
                            <option>Select</option>
                            <option value="LOST">Topib oldim</option>
                            <option value="FOUND">Yo'qotdim</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-6">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Yo'qotilgan yoki Topib olingan sanani tanlang</h5>
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="date" id="autoclose-date" class="datepicker-here form-control"
                                   placeholder="dd/mm/yyyy" aria-describedby="basic-addon3"/>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon3"><i
                                        class="feather icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-12">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Qo'shimcha ma'lumotlar</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle">You may also swap <code class="highlighter-rouge">.row</code> for
                            <code class="highlighter-rouge">.form-row</code>, a variation of our standard grid row that
                            overrides the default column gutters for tighter and more compact layouts.</h6>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Murojaat uchun Telefon raqam</label>
                                    <input type="text" class="form-control" id="inputmask-phone" placeholder="(__) ___-__-__" name="phone">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">E'lon joylovchining Ismi</label>
                                    <input type="text" class="form-control"
                                           placeholder="Ism" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Manzil</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Manzil" name="location">
                            </div>
                            <button type="submit" class="btn btn-primary">Joylash</button>
                    </div>
                </div>
            </div>
            <!-- End col -->
        </div>
        </form>
        <!-- End row -->
    </div>
    <!-- End Contentbar -->
{% endblock %}
