{% extends 'app/main/abstract.html' %}
{% load static %}
{% block content %}
    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- Start Leftbar -->
        <div class="leftbar">
            <!-- Start Sidebar -->
            <div class="sidebar">
                <!-- Start Navigationbar -->
                <div class="navigationbar">
                    <div class="vertical-menu-icon">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <div class="logobar">
                                <a href="{% url 'index' %}" class="logo logo-small"><img
                                        src={% static "assets/images/small_logo.svg" %}
                                                class="img-fluid" alt="logo"></a>
                            </div>
                            <a class="nav-link active" id="v-pills-crm-tab" data-toggle="pill" href="#v-pills-crm"
                               role="tab" aria-controls="v-pills-crm" aria-selected="true"><img
                                    src={% static "assets/images/svg-icon/crm.svg" %} class="img-fluid" alt="CRM"
                                    data-toggle="tooltip"
                                    data-placement="top" title="CRM"></a>
                            <a class="nav-link" id="v-pills-pages-tab" data-toggle="pill" href="#v-pills-pages"
                               role="tab"
                               aria-controls="v-pills-pages" aria-selected="false"><img
                                    src={% static "assets/images/svg-icon/pages.svg" %} class="img-fluid" alt="Pages"
                                    data-toggle="tooltip" data-placement="top" title="Pages"></a>
                        </div>
                    </div>
                    <div class="vertical-menu-detail">
                        <div class="logobar">
                            <a href="{% url 'index' %}" class="logo logo-large"><img
                                    src={% static "assets/images/logo.svg" %} class="img-fluid"
                                    alt="logo"></a>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-crm" role="tabpanel"
                                 aria-labelledby="v-pills-crm-tab">
                                <ul class="vertical-menu">
                                    <li><a href="{% url 'change_password' %}"><img
                                            src={% static "assets/images/svg-icon/customers.svg" %}
                                                    class="img-fluid" alt="clients">Parolni O'zgartirish</a></li>
                                    <li><a href="{% url 'logout' %}"><img
                                            src={% static "assets/images/svg-icon/customers.svg" %}
                                                    class="img-fluid" alt="clients">Chiqish</a></li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="v-pills-pages" role="tabpanel"
                                 aria-labelledby="v-pills-pages-tab">
                                <ul class="vertical-menu">
                                    <li><h5 class="menu-title">Pages</h5></li>
                                    <li><a href="{% url 'index' %}">List</a></li>
                                    <li><a href="{% url 'post' %}">Post</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Navigationbar -->
            </div>
            <!-- End Sidebar -->
        </div>
        <!-- End Leftbar -->
        <!-- Start Rightbar -->
        <div class="rightbar">
            <!-- Start Topbar Mobile -->
            <div class="topbar-mobile">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="mobile-logobar">
                            <a href="{% url 'index' %}" class="mobile-logo"><img
                                    src={% static "assets/images/logo.svg" %} class="img-fluid"
                                    alt="logo"></a>
                        </div>
                        <div class="mobile-togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="topbar-toggle-icon">
                                        <a class="topbar-toggle-hamburger" href="javascript:void();">
                                            <img src={% static "assets/images/svg-icon/horizontal.svg" %}
                                                         class="img-fluid menu-hamburger-horizontal" alt="horizontal">
                                            <img src={% static "assets/images/svg-icon/verticle.svg" %}
                                                         class="img-fluid menu-hamburger-vertical" alt="verticle">
                                        </a>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                            <img src={% static "assets/images/svg-icon/menu.svg" %}
                                                         class="img-fluid menu-hamburger-collapse" alt="collapse">
                                            <img src={% static "assets/images/svg-icon/close.svg" %}
                                                         class="img-fluid menu-hamburger-close" alt="close">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Topbar -->
            <div class="topbar">
                <!-- Start row -->
                <div class="row align-items-center">
                    <!-- Start col -->
                    <div class="col-md-12 align-self-center">
                        <div class="togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                            <img src={% static "assets/images/svg-icon/menu.svg" %}
                                                         class="img-fluid menu-hamburger-collapse" alt="menu">
                                            <img src={% static "assets/images/svg-icon/close.svg" %}
                                                         class="img-fluid menu-hamburger-close" alt="close">
                                        </a>
                                    </div>
                                </li>
                                <li class="list-inline-item">
{#                                    <div class="searchbar">#}
{#                                        <form>#}
{#                                            <div class="input-group">#}
{#                                                <div class="input-group-append">#}
{#                                                    <button class="btn" type="submit" id="button-addonSearch"><img#}
{#                                                            src={% static "assets/images/svg-icon/search.svg" %} class="img-fluid"#}
{#                                                            alt="search"></button>#}
{#                                                </div>#}
{#                                                <input type="search" class="form-control" placeholder="Search"#}
{#                                                       aria-label="Search" aria-describedby="button-addonSearch">#}
{#                                            </div>#}
{#                                        </form>#}
{#                                    </div>#}
                                </li>
                            </ul>
                        </div>
                        <div class="infobar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="languagebar">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="languagelink"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                    class="live-icon">EN</span><span
                                                    class="feather icon-chevron-down live-icon"></span></a>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="languagelink">
                                                <a class="dropdown-item" href="#"><i
                                                        class="flag flag-icon-us flag-icon-squared"></i>English</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="flag flag-icon-de flag-icon-squared"></i>German</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="flag flag-icon-bl flag-icon-squared"></i>France</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="flag flag-icon-ru flag-icon-squared"></i>Russian</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% if user.is_authenticated %}
                                	<li class="list-inline-item">
                                    <div class="profilebar">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="profilelink"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                                    src={% static "assets/images/users/profile.svg" %} class="img-fluid"
                                                    alt="profile"><span class="live-icon">{{ user.get_username }}</span><span
                                                    class="feather icon-chevron-down live-icon"></span></a>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="profilelink">
                                                <div class="dropdown-item">
                                                    <div class="profilename">
                                                        <h5>{{ user.get_username }}</h5>
                                                    </div>
                                                </div>
                                                <div class="userbox">
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="media dropdown-item">
                                                            <a href="{% url 'my_profile' %}" class="profile-icon"><img
                                                                    src={% static "assets/images/svg-icon/crm.svg" %} class="img-fluid"
                                                                    alt="user">Profilim</a>
                                                        </li>
                                                        <li class="media dropdown-item">
                                                            <a href="{% url 'logout' %}" class="profile-icon"><img
                                                                    src={% static "assets/images/svg-icon/logout.svg" %}
                                                                            class="img-fluid" alt="logout">Chiqish</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% else %}
                                    <li class="list-inline-item">
                                    <div class="profilebar">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="profilelink"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                                    src={% static "assets/images/users/profile.svg" %} class="img-fluid"
                                                    alt="profile"><span class="live-icon"><a href="{% url 'signin' %}">Kirish</a></span></a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
            <!-- End Topbar -->
            {% block content_bar %}

            {% endblock %}
            <!-- Start Footerbar -->
            <div class="footerbar">
                <footer class="footer">
                    <p class="mb-0">© 2023 Lost&Found - All Rights Reserved.</p>
                </footer>
            </div>
            <!-- End Footerbar -->
        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
{% endblock %}
